<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BTN_Att</key>
	<string>2b9fa1ff</string>
	<key>BTN_CallBtn</key>
	<string>callbtn_normal.png</string>
	<key>BTN_CallBtn_HightLight</key>
	<string>callbtn_highliget.png</string>
	<key>BTN_CheckBox_Delete_IMAGE</key>
	<string>delselect.png</string>
	<key>BTN_CheckBox_HighLight_IMAGE</key>
	<string>icheckbox_02.png</string>
	<key>BTN_CheckBox_Normal_IMAGE</key>
	<string>icheckbox_01.png</string>
	<key>BTN_Delete_HighLight_Color</key>
	<string>A73338ff</string>
	<key>BTN_Delete_Normal_Color</key>
	<string>f36163ff</string>
	<key>BTN_Delete_Title_Color</key>
	<string>ffffffff</string>
	<key>BTN_Gray_Border_Color</key>
	<string>686868ff</string>
	<key>BTN_Gray_HighLight_Color</key>
	<string>b7b7b7ff</string>
	<key>BTN_Gray_Normal_Color</key>
	<string>ffffffff</string>
	<key>BTN_Gray_Title_Color</key>
	<string>686868ff</string>
	<key>BTN_Hollow_Border_Color</key>
	<string>2BA0A2ff</string>
	<key>BTN_Hollow_HighLight_IMAGE</key>
	<string>button_b_02.png</string>
	<key>BTN_Hollow_Normal_IMAGE</key>
	<string>button_b_01.png</string>
	<key>BTN_Hollow_Title_Color</key>
	<string>2BA0A2ff</string>
	<key>BTN_Normal_HighLight_IMAGE</key>
	<string>button_a_02.png</string>
	<key>BTN_Normal_Normal_BackColor</key>
	<string>2BA0A2ff</string>
	<key>BTN_Normal_Normal_IMAGE</key>
	<string>button_a_01.png</string>
	<key>BTN_Normal_Title_Color</key>
	<string>ffffffff</string>
	<key>BTN_Switch_HighLight_Color</key>
	<string>2BA0A2ff</string>
	<key>BTN_services_Call_IMAGE</key>
	<string>onetouchdial.png</string>
	<key>CASHIER_DESK</key>
	<string>收银台</string>
	<key>CELL_HIGH_LIGHT_COLOR</key>
	<string>f3f3f3</string>
	<key>CLIENTTYPE</key>
	<string>PATIENT</string>
	<key>COLOR_</key>
	<string>ff</string>
	<key>COLOR_000000</key>
	<string>000000ff</string>
	<key>COLOR_005cac</key>
	<string>005cacff</string>
	<key>COLOR_00af66</key>
	<string>00af66ff</string>
	<key>COLOR_0967e6</key>
	<string>0967e6ff</string>
	<key>COLOR_104B4D</key>
	<string>104b4dff</string>
	<key>COLOR_15B66E</key>
	<string>15b66eff</string>
	<key>COLOR_15b66e</key>
	<string>15b66eff</string>
	<key>COLOR_177efb</key>
	<string>177efbff</string>
	<key>COLOR_1c1c1c</key>
	<string>1c1c1cff</string>
	<key>COLOR_1cbc1c</key>
	<string>1cbc1cff</string>
	<key>COLOR_20E285</key>
	<string>20e285ff</string>
	<key>COLOR_226fdf</key>
	<string>226fefff</string>
	<key>COLOR_23953C</key>
	<string>23953Cff</string>
	<key>COLOR_242424</key>
	<string>242424ff</string>
	<key>COLOR_252525</key>
	<string>252525ff</string>
	<key>COLOR_27AE60</key>
	<string>27AE60ff</string>
	<key>COLOR_2BA8F4</key>
	<string>2ba8f4ff</string>
	<key>COLOR_2e2e2e</key>
	<string>2e2e2eff</string>
	<key>COLOR_32A6F4</key>
	<string>32a6f4ff</string>
	<key>COLOR_333333</key>
	<string>333333ff</string>
	<key>COLOR_377FE3</key>
	<string>377fe3ff</string>
	<key>COLOR_377fe3</key>
	<string>377fe3ff</string>
	<key>COLOR_3A83E7</key>
	<string>3a83e7ff</string>
	<key>COLOR_3a83e7</key>
	<string>3a83e7ff</string>
	<key>COLOR_3abae7</key>
	<string>3abae7ff</string>
	<key>COLOR_3b484b</key>
	<string>3b484bff</string>
	<key>COLOR_3b484d</key>
	<string>3b484dff</string>
	<key>COLOR_3da489</key>
	<string>3da489ff</string>
	<key>COLOR_44F2BA</key>
	<string>44f2baff</string>
	<key>COLOR_4b484b</key>
	<string>4b484bff</string>
	<key>COLOR_51a2f2</key>
	<string>51a2f2ff</string>
	<key>COLOR_555555</key>
	<string>555555ff</string>
	<key>COLOR_56D3FA</key>
	<string>56d3faff</string>
	<key>COLOR_585858</key>
	<string>585858ff</string>
	<key>COLOR_595959</key>
	<string>595959ff</string>
	<key>COLOR_59D384</key>
	<string>59d384ff</string>
	<key>COLOR_5FBAF6</key>
	<string>5fbaf6ff</string>
	<key>COLOR_5a67ea</key>
	<string>5a67eaff</string>
	<key>COLOR_5bb95d</key>
	<string>5bb95dff</string>
	<key>COLOR_626262</key>
	<string>626262ff</string>
	<key>COLOR_636363</key>
	<string>636363ff</string>
	<key>COLOR_646464</key>
	<string>646464ff</string>
	<key>COLOR_686868</key>
	<string>686868ff</string>
	<key>COLOR_68bd24</key>
	<string>68bd24ff</string>
	<key>COLOR_6b9bca</key>
	<string>6b9bcaff</string>
	<key>COLOR_6dd6fd</key>
	<string>6dd6fdff</string>
	<key>COLOR_737373</key>
	<string>737373ff</string>
	<key>COLOR_74c700</key>
	<string>74c700ff</string>
	<key>COLOR_777777</key>
	<string>777777ff</string>
	<key>COLOR_77c525</key>
	<string>77c525ff</string>
	<key>COLOR_798f9a</key>
	<string>798f9aff</string>
	<key>COLOR_7a8f99</key>
	<string>7a8f99ff</string>
	<key>COLOR_808080</key>
	<string>808080ff</string>
	<key>COLOR_83B6D7</key>
	<string>83b6d7ff</string>
	<key>COLOR_83D4D7</key>
	<string>83d4d7ff</string>
	<key>COLOR_888888</key>
	<string>888888ff</string>
	<key>COLOR_929292</key>
	<string>929292ff</string>
	<key>COLOR_93ba6b</key>
	<string>93ba6bff</string>
	<key>COLOR_97cf36</key>
	<string>97cf36ff</string>
	<key>COLOR_999999</key>
	<string>999999ff</string>
	<key>COLOR_9a9a9a</key>
	<string>9a9a9aff</string>
	<key>COLOR_9b9b9b</key>
	<string>9b9b9bff</string>
	<key>COLOR_9e9e9e</key>
	<string>9e9e9eff</string>
	<key>COLOR_BBBBBB</key>
	<string>bbbbbbff</string>
	<key>COLOR_D4DCEF</key>
	<string>d4dcefff</string>
	<key>COLOR_E7E7E7</key>
	<string>e7e7e7ff</string>
	<key>COLOR_ECF6FB</key>
	<string>ecf6fbff</string>
	<key>COLOR_EDB317</key>
	<string>edb317ff</string>
	<key>COLOR_EEEEEE</key>
	<string>eeeeeeff</string>
	<key>COLOR_EEF9F4</key>
	<string>eef9f4ff</string>
	<key>COLOR_F2020</key>
	<string>f2020ff</string>
	<key>COLOR_F58821</key>
	<string>f58821ff</string>
	<key>COLOR_F5F5F5</key>
	<string>f5f5f5ff</string>
	<key>COLOR_F7F7F7</key>
	<string>f7f7f7ff</string>
	<key>COLOR_F8F8F8</key>
	<string>f8f8f8ff</string>
	<key>COLOR_FBBD45 </key>
	<string>fbbd45 ff</string>
	<key>COLOR_FE3824</key>
	<string>fe3824ff</string>
	<key>COLOR_FF3B30</key>
	<string>ff3b30ff</string>
	<key>COLOR_FF7E3B</key>
	<string>ff7e3bff</string>
	<key>COLOR_a8a8a8</key>
	<string>a8a8a8ff</string>
	<key>COLOR_aeaeae</key>
	<string>aeaeaeff</string>
	<key>COLOR_b1b1b1</key>
	<string>b1b1b1ff</string>
	<key>COLOR_b2b2b2</key>
	<string>b2b2b2ff</string>
	<key>COLOR_b32dd9</key>
	<string>b32dd9ff</string>
	<key>COLOR_b7b7b7</key>
	<string>b7b7b7ff</string>
	<key>COLOR_b9b9b9</key>
	<string>b9b9b9ff</string>
	<key>COLOR_c0c0c0</key>
	<string>c0c0c0ff</string>
	<key>COLOR_c1c1c1</key>
	<string>c1c1c1ff</string>
	<key>COLOR_c5c3c3</key>
	<string>c5c3c3ff</string>
	<key>COLOR_c8c8c8</key>
	<string>c8c8c8ff</string>
	<key>COLOR_c9c9c9</key>
	<string>c9c9c9ff</string>
	<key>COLOR_cdcdcd</key>
	<string>cdcdcdff</string>
	<key>COLOR_cecece</key>
	<string>cececeff</string>
	<key>COLOR_d3d3d3</key>
	<string>d3d3d3ff</string>
	<key>COLOR_d4dcef</key>
	<string>d4dcefff</string>
	<key>COLOR_d5d5d5</key>
	<string>d5d5d5ff</string>
	<key>COLOR_d74f2a</key>
	<string>d74f2aff</string>
	<key>COLOR_d7d7d7</key>
	<string>d7d7d7ff</string>
	<key>COLOR_d8481c</key>
	<string>d8481cff</string>
	<key>COLOR_d8d8d8</key>
	<string>d8d8d8ff</string>
	<key>COLOR_d9d9d9</key>
	<string>d9d9d9ff</string>
	<key>COLOR_db542b</key>
	<string>db542bff</string>
	<key>COLOR_dcdcdc</key>
	<string>dcdcdcff</string>
	<key>COLOR_dd2727</key>
	<string>dd2727ff</string>
	<key>COLOR_dddddd</key>
	<string>ddddddff</string>
	<key>COLOR_dfdfdf</key>
	<string>dfdfdfff</string>
	<key>COLOR_e0e0e8</key>
	<string>e0e0e8ff</string>
	<key>COLOR_e2e2e2</key>
	<string>e2e2e2ff</string>
	<key>COLOR_e3e3e3</key>
	<string>e3e3e3ff</string>
	<key>COLOR_e7c03a</key>
	<string>e7c03aff</string>
	<key>COLOR_ec6165</key>
	<string>ec6165ff</string>
	<key>COLOR_edcc2f</key>
	<string>edcc2fff</string>
	<key>COLOR_efefef</key>
	<string>efefefff</string>
	<key>COLOR_efeff4</key>
	<string>efeff4ff</string>
	<key>COLOR_eff0f1</key>
	<string>eff0f1ff</string>
	<key>COLOR_f2f2f2</key>
	<string>f2f2f2ff</string>
	<key>COLOR_f2f8f2</key>
	<string>f2f8f2ff</string>
	<key>COLOR_f36163</key>
	<string>f36163ff</string>
	<key>COLOR_f3f3f3</key>
	<string>f3f3f3ff</string>
	<key>COLOR_f4af37</key>
	<string>f4af37ff</string>
	<key>COLOR_f5bc0d</key>
	<string>f5bc0dff</string>
	<key>COLOR_f6f6f6</key>
	<string>f6f6f6ff</string>
	<key>COLOR_f87f36</key>
	<string>f87f36ff</string>
	<key>COLOR_f89b36</key>
	<string>f89b36ff</string>
	<key>COLOR_fdfdfd</key>
	<string>fdfdfdff</string>
	<key>COLOR_fed4d3</key>
	<string>fed4d3ff</string>
	<key>COLOR_ff0000</key>
	<string>ff0000ff</string>
	<key>COLOR_ff001e</key>
	<string>ff001eff</string>
	<key>COLOR_ff3b30</key>
	<string>ff3b30ff</string>
	<key>COLOR_ffa11b</key>
	<string>ffa11bff</string>
	<key>COLOR_ffffff</key>
	<string>ffffffff</string>
	<key>EXPERTSTIMECHAT</key>
	<string>expertsinfo.png</string>
	<key>FONT_</key>
	<string>Helvetica,</string>
	<key>FONT_10</key>
	<string>Helvetica,10</string>
	<key>FONT_11</key>
	<string>Helvetica,11</string>
	<key>FONT_12</key>
	<string>Helvetica,12</string>
	<key>FONT_13</key>
	<string>Helvetica,13</string>
	<key>FONT_14</key>
	<string>Helvetica,14</string>
	<key>FONT_15</key>
	<string>Helvetica,15</string>
	<key>FONT_16</key>
	<string>Helvetica,16</string>
	<key>FONT_17</key>
	<string>Helvetica,17</string>
	<key>FONT_18</key>
	<string>Helvetica,18</string>
	<key>FONT_20</key>
	<string>Helvetica,20</string>
	<key>FONT_24</key>
	<string>Helvetica,24</string>
	<key>FONT_27</key>
	<string>Helvetica,27</string>
	<key>FONT_30</key>
	<string>Helvetica,30</string>
	<key>FONT_40</key>
	<string>Helvetica,40</string>
	<key>FONT_55</key>
	<string>Helvetica,55</string>
	<key>FONT_9</key>
	<string>Helvetica,9</string>
	<key>FONT_BOLD_14</key>
	<string>Helvetica-Bold,14</string>
	<key>FONT_BOLD_16</key>
	<string>Helvetica-Bold,16</string>
	<key>FONT_BOLD_17</key>
	<string>Helvetica-Bold,17</string>
	<key>FONT_BOLD_18</key>
	<string>Helvetica-Bold,18</string>
	<key>FONT_BOLD_20</key>
	<string>Helvetica-Bold,20</string>
	<key>NAV_Left_BTN_Title_Color</key>
	<string>ffffffff</string>
	<key>NAV_Left_BTN_Title_Font</key>
	<string>Helvetica,16</string>
	<key>NAV_Right_BTN_Title_Font</key>
	<string>Helvetica,16</string>
	<key>NAV_Right_BTN_Title_HighLight_Color</key>
	<string>ffffffff</string>
	<key>NAV_Right_BTN_Title_Normal_Color</key>
	<string>ffffffff</string>
	<key>NAV_Title_Color</key>
	<string>ffffffff</string>
	<key>NAV_Title_Font</key>
	<string>Helvetica-Bold,18</string>
	<key>TABLEVIEW_BGColor</key>
	<string>f8f8f8ff</string>
	<key>TEXT_BLACK_COLOR</key>
	<string>252525ff</string>
	<key>WECHAT_APPID</key>
	<string>wx2c6d1e57dcd5e8d2</string>
	<key>appstore</key>
	<string></string>
</dict>
</plist>
